.post-container{
    margin: 0px 150px 0px 150px;
}

.post{
    background:#fffafa;
    padding: 30px 40px 30px 40px;
}

.post-container .date{
    color:#008080;
    font-family: 'Roboto' , cursive;
}

h1{
    font-family: 'Montserrat' , sans-serif;
}
.post-content{
    font-family: 'Open sans', cursive;
}

hr{
    margin: 0px;
}



/*
Fontes utilizadas:

   1. Elemento H1 = Montserrat

   2. Elementos com a classe date = Roboto

   3. Elementos com a classe post-content = Open Sans



Cores:

   1. Background dos posts = #fffafa

   2. Cor da data = #008080​